<ion-header>
  <ion-toolbar class="myToolbar">
      <ion-img src="../../assets/img/logoheader2.png" (click)="mainpage()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding-top: 1em;">
      <ion-col size-sm=6 size-lg=10 push-lg=1>
        <ion-text class="myText">Up to this moment...</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="align-items: baseline" >
      <ion-col size-xs=4 push-xs=3 size-md=4 size-lg=2 push-lg=5>
        <ion-text class="myNumber">78</ion-text>
      </ion-col>
      <ion-col size-xs=8 push-xs=0.8 size-md=8 size-lg=6 push-lg=4 >
        <ion-text class="myMessage4">people have already voted!</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 1em;">
      <ion-col size-lg=8 push-lg=1>
        <ion-text>The participants have selected all days in which they are available as well as the date they prefer the most. Right now votes are looking like this:</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="myRowCentered" style="padding-top: 1em;">
      <ion-col push-xs=3 push-lg=4>
        <ion-img class="myGraph" src="../../assets/img/graph.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 1em;">
      <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=3>
        <ion-text class="myText2">Need to share link or ID again?</ion-text>
      </ion-col>
      <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=5>
        <ion-text class="myText2">Ready to share the winner?</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 1em;">
      <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=3>
       <ion-button expand="block" fill="solid">Share Event</ion-button>
      </ion-col>
      <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=5>
        <ion-button expand="block" fill="solid">End Event</ion-button>
      </ion-col>
    </ion-row>
    <br><br><br>

    <div id="endEvent">
      <ion-row class="myRowCentered" style="padding-top: 1em;">
        <ion-col>
          <ion-text class="myMessage">EVENT001</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 1em;"> 
        <ion-col push-lg=1>
          <ion-text>The date in which more voters are available to participate is...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 1em;">
        <ion-col size-xs=6 push-xs=3 size-md=4 size-lg=3 push-lg=5>
          <ion-text class="myMessage2">March 8th</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push-xs=7 push-lg=7>
          <ion-text class="myMessage3">With 72/78 votes</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 2em;"> 
        <ion-col size-lg=10 push-lg=1>
          <ion-text>We all wish the event could take place whenever we liked better but that is not always possible, the most preferred date was...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 1em;">
        <ion-col size-xs=6 push-xs=3 size-md=4 size-lg=3 push-lg=5>
          <ion-text class="myMessage">March 10th</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push-xs=7 push-lg=7>
          <ion-text class="myMessage4">With 50/78 votes</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 1em;">
        <ion-col push-lg=1>
          <ion-text>Take a look at the complete results for the top 3 dates:</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="myRowCentered" style="padding-top: 2em;">
        <ion-col push-xs=3 push-lg=4>
          <ion-img class="myGraph" src="../../assets/img/graph.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 1em;">
        <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=3>
         <ion-button class="myButton"  expand="block" fill="solid">Share Results Link</ion-button>
        </ion-col>
        <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=5>
          <ion-button  class="myButton"  expand="block" fill="solid">Export as Image</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=3>
          <ion-text class="myText3">Voters will see this exact same page</ion-text>
        </ion-col>
        <ion-col size-xs=5 push-xs=1 size-lg=2 push-lg=5>
          <ion-text class="myText3">The image will show voters only the winning date</ion-text>
        </ion-col>
      </ion-row>
    </div>
    <br><br>

    <div id="exportImage">
      <ion-row class="myRowCentered">
        <ion-col>
          <ion-text class="myMessage2">Looks like we have a winner!</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="myRowCentered" style="padding-top: 1em;">
        <ion-col size-lg=7>
          <ion-text>The date in which more voters are available to participate in Event001 is...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="myRowCentered" style="padding-top: 1em;">
        <ion-col>
          <ion-text class="myMessage2">March 8th</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push-xs=7 push-lg=7>
          <ion-text class="myMessage3">With 72/78 votes</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="myRowCentered" style="padding-top: 1.5em;">
        <ion-col size-xs=10 size-lg=4.5>
          <ion-text class="myMessage4">Thanks for letting us be part of your event! If you would like to see the complete results, ask the organizer to share the link with you.</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="myRowCentered" style="padding-top: 1em;">
        <ion-col push-xs=3.5 push-lg=5>
          <ion-img class="myimg" src="../../assets/img/logoheader2.png"></ion-img>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
