<ion-header>
  <!-- Class, identificador, componente -->
  <ion-toolbar class="green-toolbar">
    <ion-title>Let's Meet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3> Enter the Event Details </h3>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-align-self-start">

        <!-- Inputs with labels -->
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="eventName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="eventPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cEventPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Time Zone</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="eventTimezone">
            <ion-select-option value="utc-6">UTC-6 (Mexico City)</ion-select-option>
            <ion-select-option value="utc-7">UTC-7 (Calgary)</ion-select-option>
            <ion-select-option value="utc-8">UTC-8 (Los Angeles)</ion-select-option>
            <ion-select-option value="utc-9">UTC-9 (Anchorage)</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Start Date & Time</ion-label>
          <ion-datetime [(ngModel)]="eventStartTime" displayFormat="D MMM YYYY H:mm" min="2020" max="2050" value="2020-01-01T12:00Z" minuteValues="0,30"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End Date & Time</ion-label>
          <ion-datetime [(ngModel)]="eventEndTime" displayFormat="D MMM YYYY H:mm" min="2020" max="2050" value="2020-01-01T12:00Z" minuteValues="0,30"></ion-datetime>
        </ion-item>

        <!-- Textarea that clears the value on edit -->
        <ion-item>
          <ion-label position="floating"> Description (optional)</ion-label>
          <ion-textarea [(ngModel)]="eventDescription" clearOnEdit="true"></ion-textarea>
        </ion-item> <br>

        <ion-button expand="block" fill="outline" (click)="login()">Create Event</ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
