ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 25px;
    font-family: Now-Regular !important;
  --color: grey;
}

ion-input, ion-select, ion-datetime,
ion-textarea, ion-item, ion-select-option, ion-card {
  font-family: Now-Regular !important;
  color: grey;
}

ion-label{
  font-family: Now-Regular  !important;
  font-size: 18px !important;
}

ion-title {
  font-family: Now-Medium !important;
}

ion-button {
  font-family: Now-Bold !important;
}

ion-img{
  width: 158.853px;
  height: 29.66px;
  padding-left: 15px;
}

h1, h2, h3 {
  text-align: center;
}

ion-checkbox {
  --background-checked:rgba(124, 217, 84, 1);
  --border-color-checked: rgba(124, 217, 84, 1);
}

.myCard{
  padding-top: 50px;
  box-shadow: none;
}

.required {
  color: rgb(241, 1, 1);
}

.error-message {
  font-size: smaller;
  padding: 10px;
}

.myRowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.greenBackground {
  --background: rgba(124, 217, 84, 1);
}
