<ion-header>
  <ion-toolbar class="greenBackground">
    <ion-title>Let's Meet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="myRowCentered">
      <ion-col size=10>
        <form [formGroup]="this.eventService.form">

          <div [hidden]=hiddenDivs[0] class="greyText">
            <div class="ion-text-center">
              <h3>New Event</h3>
              Let's start by giving your event a name and a password you will later use for checking your event's progress
            </div>
            <ion-item>
              <ion-label position="floating">Event Name<span class="required"> *</span></ion-label>
              <ion-input formControlName="Event_Name" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of this.eventService.form_messages.Event_Name">
                <div class="error-message"
                  *ngIf="this.eventService.form.get('Event_Name').hasError(validation.type) && (this.eventService.form.get('Event_Name').dirty || this.eventService.form.get('Event_Name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Password<span class="required"> *</span></ion-label>
              <ion-input type="password" formControlName="Event_Password" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of this.eventService.form_messages.Event_Password">
                <div class="error-message"
                  *ngIf="this.eventService.form.get('Event_Password').hasError(validation.type) && (this.eventService.form.get('Event_Password').dirty || this.eventService.form.get('Event_Password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Confirm Password<span class="required"> *</span></ion-label>
              <ion-input type="password" formControlName="Event_CPassword" required></ion-input>
            </ion-item>
            <div class="validation-errors">

              <ng-container *ngFor="let validation of this.eventService.form_messages.Event_CPassword">
                <div class="error-message"
                  *ngIf="this.eventService.form.get('Event_CPassword').hasError('incorrect') || this.eventService.form.get('Event_CPassword').hasError(validation.type) && (this.eventService.form.get('Event_CPassword').dirty || this.eventService.form.get('Event_CPassword').touched)">
                  {{ validation.message }}
                </div>

              </ng-container>
            </div>
            <br>
            <div class="ion-text-center">
              Now, tell us a little bit more about your event
            </div>

            <ion-item>
              <ion-label position="floating"> Description (optional)</ion-label>
              <ion-textarea formControlName="Event_Description" clearOnEdit="true"></ion-textarea>
            </ion-item> <br>

            <ion-button (click)="nextForm()" class="round greenBackground" fill="solid" size="large" shape="round" [disabled]="!this.eventService.form.valid">Next</ion-button>
          </div>

        </form>

        <div [hidden]=hiddenDivs[1]>
          <div class="ion-text-center">
            <h4>Select the available dates for the participants to choose from: </h4>
            <br>
            <ion-calendar [(ngModel)]="dateMulti"
            [options]="optionsMulti"
            (change)="onChange($event)"
            [type]="type"
            [format]="'YYYY-MM-DD'">
            </ion-calendar>
            <ion-checkbox (click)="personalizedClick()"></ion-checkbox>
            <span>&nbsp; Personalize hours </span>
          </div>
          <div class="dropdownGroup">
            <ion-item>
              <ion-label>Event Time<span class="required"> *</span></ion-label>
              <ion-select placeholder="9:00 AM" [disabled]=personalizedHours [(ngModel)]="eventTime" (ionChange)="checkTimes()">
                <ion-select-option value="00:00:00">12:00 AM</ion-select-option>
                <ion-select-option value="01:00:00">1:00 AM</ion-select-option>
                <ion-select-option value="02:00:00">2:00 AM</ion-select-option>
                <ion-select-option value="03:00:00">3:00 AM</ion-select-option>
                <ion-select-option value="04:00:00">4:00 AM</ion-select-option>
                <ion-select-option value="05:00:00">5:00 AM</ion-select-option>
                <ion-select-option value="06:00:00">6:00 AM</ion-select-option>
                <ion-select-option value="07:00:00">7:00 AM</ion-select-option>
                <ion-select-option value="08:00:00">8:00 AM</ion-select-option>
                <ion-select-option value="09:00:00">9:00 AM</ion-select-option>
                <ion-select-option value="10:00:00">10:00 AM</ion-select-option>
                <ion-select-option value="11:00:00">11:00 AM</ion-select-option>
                <ion-select-option value="12:00:00">12:00 PM</ion-select-option>
                <ion-select-option value="13:00:00">1:00 PM</ion-select-option>
                <ion-select-option value="14:00:00">2:00 PM</ion-select-option>
                <ion-select-option value="15:00:00">3:00 PM</ion-select-option>
                <ion-select-option value="16:00:00">4:00 PM</ion-select-option>
                <ion-select-option value="17:00:00">5:00 PM</ion-select-option>
                <ion-select-option value="18:00:00">6:00 PM</ion-select-option>
                <ion-select-option value="19:00:00">7:00 PM</ion-select-option>
                <ion-select-option value="20:00:00">8:00 PM</ion-select-option>
                <ion-select-option value="21:00:00">9:00 PM</ion-select-option>
                <ion-select-option value="22:00:00">10:00 PM</ion-select-option>
                <ion-select-option value="23:00:00">11:00 PM</ion-select-option>
              </ion-select>
              <!-- <ion-label>No earlier than</ion-label>
              <ion-datetime displayFormat="HH:mm" minuteValues="0"></ion-datetime> -->
            </ion-item>
            <ion-item>
              <ion-label>Event Time Zone<span class="required"> *</span></ion-label>
              <ion-select placeholder="UTC-6 (Mexico City)" [disabled]=personalizedHours [(ngModel)]="timeZone" (ionChange)="checkTimes()">
                <ion-select-option value="utc-3">UTC-3 (Brasilia)</ion-select-option>
                <ion-select-option value="utc-4">UTC-4 (Venezuela)</ion-select-option>
                <ion-select-option value="utc-4">UTC-5 (New York City)</ion-select-option>
                <ion-select-option value="utc-6">UTC-6 (Mexico City)</ion-select-option>
                <ion-select-option value="utc-7">UTC-7 (Calgary)</ion-select-option>
                <ion-select-option value="utc-8">UTC-8 (Los Angeles)</ion-select-option>
                <ion-select-option value="utc-9">UTC-9 (Anchorage)</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <br>
          <ion-button [disabled]=btnDates (click)="nextForm()" class="round greenBackground" fill="solid" size="large" shape="round">Next</ion-button>
        </div>

        <div [hidden]=true>
          <!-- TODO second release: Tabla -->
          <h5> Se muestra tabla de horas </h5>
          <ion-button (click)="nextForm()" class="round greenBackground" fill="solid" size="large" shape="round">Next</ion-button>
        </div>

        <div [hidden]=hiddenDivs[2]>
          <!-- Confirmar -->
          <h5> Se muestra confirmacion de datos de evento </h5>
          <ion-button (click)="submit()" class="round greenBackground" fill="solid" size="large" shape="round" [disabled]="!this.eventService.form.valid">Create Event</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
