ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  font-family: Now-Light !important;
}

ion-button {
  font-family: Asap-Bold !important;
  text-transform: none;
  min-height: 2em;
  width: auto;
  font-size: 1.25em;
  --border-radius: 0.7em;
  --background: var(--ion-color-letsmeet);
}

ion-input, ion-datetime, ion-textarea,
ion-item, ion-card, ion-label {
  font-family: Now-Regular !important;
  color: grey;
}

ion-checkbox {
  --background-checked: var(--ion-color-letsmeet);
  --border-color-checked: var(--ion-color-letsmeet);
}

ion-calendar {
  padding: 0% !important;
}

.weekview-allday-content-table .calendar-event-inner {
  background-color: red !important;
}

.required {
  color: red;
}

.error-message {
  font-size: smaller;
  padding: 10px;
}

.greenFont{
  color: var(--ion-color-letsmeet);
  font-family: Now-Medium;
}

.myRowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirmText {
  font-family: Now-Regular !important;
  font-size: 1.1em !important;
  color: gray;
  text-align: center;
}

.itemBorder {
  border: solid 1.5px var(--ion-color-letsmeet);
}

// Computer - iPad
@media only screen and (min-width: 750px) {
  h1, h2, h3 {
    text-align: center !important;
  }

  ion-text{
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.7em;
  }

  ion-img{
    width: 15%;
    height: auto;
    padding-left: 15px;
  }

  .myColCentered {
    text-align: center;
    padding-top: 30px;
  }

  .myToolbar{
    --background: var(--ion-color-letsmeet);
  }

  .myCard{
    padding-top: 3em;
    box-shadow: none;
  }

  #hideWeb {
    visibility: hidden;
    display: none;
  }
}

// Mobile
@media only screen and (max-width: 749px) {
  h1, h2, h3 {
    text-align: left;
    padding-left: 0.5em ;
  }

  ion-text{
    text-align: left ;
    padding-left: 0.5em ;
    padding-top: 0.6em;
    font-size: 1.1em;
  }

  ion-img{
    align-content: center;
    height: 2em;
    width: auto;
    opacity: 0.55;
  }

  .myToolbar{
    --background: none;
    padding-top: 0.5em;
  }

  .myColCentered {
    text-align: center;
  }

  .sidePadding{
    padding-left: 30%;
    padding-right: 30%;
  }

  .sidePaddingMd{
    padding-left: 15%;
    padding-right: 15%;
  }

  .myCard{
    padding-top:1.5em;
    box-shadow: none;
  }

  #hideMobile {
    visibility: hidden;
    display: none;
  }

  #hideWeb {
    padding: 1em;
  }
}
