ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
    font-family: Now-Light !important;
}

ion-button {
  font-family: Asap-Bold !important;
  text-transform: none ;
  height: 2em;
  font-size: 1.2em;
  --border-radius: 0.7em !important;
  --background: rgba(124, 217, 84, 1);
}

ion-input, ion-select, ion-datetime,
ion-textarea, ion-item, ion-select-option, ion-card {
  font-family: Now-Regular !important;
  color: grey;
}

ion-label{
  font-family: Now-Regular  !important;
  font-size: 1.25em !important;
}

ion-title {
  font-family: Now-Medium !important;
}


ion-calendar {
  padding-bottom: 0% !important;
}


ion-checkbox {
  --background-checked:rgba(124, 217, 84, 1);
  --border-color-checked: rgba(124, 217, 84, 1);
}

ion-calendar {
  padding: 0% !important;
}

.required {
  color: rgb(241, 1, 1);
}

.error-message {
  font-size: smaller;
  padding: 10px;
}

.greenBackground {
  --background: rgba(124, 217, 84, 1);
}

.greenFont{
  color: rgba(124, 217, 84, 1);
  font-family: Now-Medium ;
  font-size: 1.2em;
}

.myRowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirmText {
  font-family: Now-Regular !important;
  font-size: 1em !important;
  color: gray;
  text-align: center;
}

.itemBorder {
  color: grey;
  border: solid 1px gray;
}

// Computer - iPad
@media only screen and (min-width: 750px) {
  .myColCentered {
    text-align: center;
    padding-top: 30px;
  }

  .myToolbar{
    --background: none;
    --background: rgba(124, 217, 84, 1);
  }

  h1, h2, h3 {
    text-align: center !important;
  }

  ion-text{
    text-align: center ;
    font-size: 1.5em;
    padding-top: 0.7em;
  }

  ion-img{
   width: 158.853px;
   height: 29.66px;
   padding-left: 15px;
  }

  #hideWeb {
    visibility: hidden;
    display: none;
  }

  .myCard{
    padding-top: 3em;
    box-shadow: none;
  }

}

// Mobile
@media only screen and (max-width: 749px) {
  .myToolbar{
    --background: none;
    padding-top: 0.5em;
  }

  .myColCentered {
    text-align: center;
  }


  h1, h2, h3 {
    text-align: left ;
    padding-left: 0.5em ;
  }

  ion-text{
    text-align: left ;
    padding-left: 0.5em ;
    padding-top: 0.6em;
    font-size: 1.1em;
  }

  ion-img{
    align-content: center;
    height: 2em;
    opacity: 0.55;
  }

  #hideMobile {
    visibility: hidden;
    display: none;
  }

  #hideWeb {
    padding: 1em;
  }

  .myCard{
    padding-top:1.5em;
    box-shadow: none;
  }

}
