<ion-header>
  <ion-toolbar class="myToolbar">
      <ion-img src="../../assets/img/logoheader2.png" (click)="mainpage()"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div id="hideMobile">
      <ion-row>
        <ion-col size-sm=10 size-md=6 size-lg=6 push-sm=1 push-md=3 push-lg=3>
          <ion-card class="myCard">
            <ion-card-header>
              <ion-card-title>Event ID:</ion-card-title>
            </ion-card-header>

            <ion-item lines="none" class="itemBorder" text-center>
              <ion-label class="confirmText ion-text-wrap">
                <ion-item>
                  <ion-input required></ion-input>
                </ion-item>
              </ion-label>
            </ion-item>

            <ion-card-content>
              If you don't know the Event ID you can ask the organizer for the link.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="myRowCentered" style="padding-top: 0.5em;">
        <ion-col size-md=4 size-lg=1.5>
          <ion-button fill="solid" expand="block" shape="round">Join</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div id="hideWeb">
      <ion-row>
        <ion-col size-sm=10 push-sm=1>
          <span class="greenFont">Event ID: </span> <br>
          <ion-item>
            <ion-input type="text" [(ngModel)]="eventId" id="input" required></ion-input>
          </ion-item>
          <br>
          <ion-button fill="solid" expand="block" shape="round" (click)="joinEvent()" [disabled]="eventId === ''">Join</ion-button>
        </ion-col>
      </ion-row>

    </div>

    <div *ngIf="foudEvent">
      <p>
        Result:
        <br>
        {{ currentEvent.Event_Name }}
        <br>
        {{ currentEvent.Event_Description }}
        <br>
        <li *ngFor="let d of currentEvent.Event_Dates"> {{ d.seconds*1000 |  date: 'fullDate' }} </li>

      </p>
    </div>
  </ion-grid>
</ion-content>
