
ion-item {
  --highlight-color-focused: var(--ion-color-letsmeet) !important;
}

ion-checkbox {
  --background-checked: var(--ion-color-letsmeet);
  --border-color-checked: var(--ion-color-letsmeet);
}

ion-text{
  text-align: center;
  font-size: 1.5em;
  font-family: Now-Light !important;
}

.myToolbar{
  --background: var(--ion-color-letsmeet);
}

.eventInfo{
  font-family: Now-Light;
  font-size: 1.3em;
  color: gray;
}

.greenFont{
  color: var(--ion-color-letsmeet);
  font-family: Now-Medium;

}

.fontSmall {
  font-size: 1.3em !important;
}

.fontLarge {
  font-size: 3.5em !important;
}

.myCard2{
  box-shadow: none;
}

.myCardHead{
  font-size: 1.5em;
  font-family: Now-Medium;
  text-align: center;
  color: gray;
}

.confirmText {
  font-family: Now-Regular !important;
  font-size: 1.1em !important;
  color: gray;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.myRowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Computer - iPad
@media only screen and (min-width: 750px) {
  ion-img{
    width: 15%;
    height: auto;
    padding-left: 15px;
  }

  ion-input {
    font-family: Now-Regular !important;
    font-size: 2em;
    color: grey;
    text-align: center;
  }

  ion-card-content{
    font-size: 1.5em;
    font-family: Now-Light;
    text-align: center;
    color: gray;
  }

  ion-button {
    font-family: Asap-Bold !important;
    text-transform: none;
    min-height: 2em;
    width: auto;
    font-size: 1.25em;
    --border-radius: 0.7em;
    --background: var(--ion-color-letsmeet);
  }

  .myCardHeader{
      font-size: 5em;
      font-family: Now-Regular;
      text-align: center;
      color: var(--ion-color-letsmeet);
  }


  .myCard{
    padding-top: 6em;
    box-shadow: none;
  }

  .myContent{
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #hideWeb {
    visibility: hidden;
    display: none;
  }
}

// Mobile
@media only screen and (max-width: 749px) {

  ion-img{
    align-content: center;
    height: 2em;
    width: auto;
    opacity: 0.55;
  }

  ion-input {
    font-family: Now-Regular !important;
    font-size: 1.2em;
    color: grey;
    text-align: center;
  }

  ion-button {
    font-family: Asap-Bold !important;
    text-transform: none;
    width: 8em;
    height: 2em;
    font-size: 1.25em;
    --border-radius: 0.7em;
    --background: var(--ion-color-letsmeet);
  }


  .myToolbar{
    --background: none;
    padding-top: 0.5em;
  }

  .myDates {
    /* Global class cannot be overwritten */
  }

  .myCard{
    box-shadow: none;
  }

  .myCard{
    padding-top: 4em;
    box-shadow: none;
  }

  .greenFont{
    color: var(--ion-color-letsmeet);
    font-family: Now-Bold;
    font-size: 1.5em;
  }

  #hideMobile {
    visibility: hidden;
    display: none;
  }

  #hideWeb {
    padding: 2em;
    padding-top: 8em;
  }
}

