ion-button{
  font-family: Asap-Bold !important;
  font-size: 26px;
  text-transform: none;
  width: 400px;
  height: 76px;
  border-radius: 18px;
  box-shadow: 0px 0px 6px 1px gray;
}

ion-img{
  width: 363px;
  height: 125.4px;
}

  .myNavBar1{
    font-family: SourceSansPro-Light !important;
    font-size: 22px;
    text-transform: none;
    padding-left: 450px;
  }

  .myNavBar2{
    font-family: SourceSansPro-Light !important;
    font-size: 22px;
    text-transform: none;
    padding-left: 50px;
  }

  .myCard{
    padding-top: 100px;
    box-shadow: none;
  }

  .myHeader{
    padding-top: 30px;
    padding-left: 30px;
  }

  .myButton{
    padding: 10px;
  }