ion-button{
  font-family: Asap-Bold !important;
  font-size: 26px;
  text-transform: none;
  height: 76px;
  border-radius: 18px;
  box-shadow: 0px 0px 6px 1px gray;
}

  .myCol{
    padding-left: 20px;
  }

  .myRow{
    padding-top: 15px;
  }

  .myNavBar{
    font-family: SourceSansPro-Light !important;
    font-size: 22px;
    text-transform: none;
    padding-right: 70px;
  }

  .myCard{
    padding-top: 80px;
    box-shadow: none;
  }

  .myHeader{
    padding-top: 30px;
    padding-left: 30px;
  }

  .myButton{
    padding: 10px;
  }

  .myRowCentered {
    display: flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
  }