<ion-menu contentId="mainContent">
  <ion-header class="ion-no-border">
    <ion-toolbar class="padding-top">
      <ion-img class="logoLg" src="../../assets/img/logoheader2.png"></ion-img>
      <div class="myMenu">
        <ion-item lines="none">
          <ion-text class="greenFont">About</ion-text><br>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="blackFont">Help</ion-text><br>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="greenFont">Contact</ion-text>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-header>

</ion-menu>


<div class="ion-page" id="mainContent" main>
  <div id="hamburger_menu">
    <ion-header class="ion-no-border">
      <ion-toolbar class="myHeader">
        <ion-img class="logo" src="../../assets/img/logo4.png" slot="end" (click)="mainpage()"></ion-img>
        <ion-buttons>
          <ion-menu-button class="menu_btn"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
    <div id="about">
      <ion-header class="ion-no-border">
        <ion-toolbar class="myHeader">
          <ion-img class="logo" src="../../assets/img/logo4.png" slot="start" (click)="mainpage()"></ion-img>

          <div class="rightAlignment">
            <a class="paddingLinks"> About</a>
            <a class="paddingLinks">|</a>
            <a class="paddingLinks">Help</a>
            <a class="paddingLinks">|</a>
            <a class="paddingLinks">Contact</a>
          </div>

        </ion-toolbar>
      </ion-header>
    </div>

    <ion-content [fullscreen]="true">
      <ion-grid>
        <ion-row>
          <ion-col size-lg=4 push-lg=4>
            <ion-card class="myCard">
              <ion-button expand="block" fill="solid" [routerLink]="['/create-event']">Create New Event</ion-button><br><br>
              <ion-button expand="block" fill="solid" [routerLink]="['/join-event']">Join Existing Event</ion-button><br><br>
              <ion-button expand="block" fill="solid" [routerLink]="['/event-progress']">Existing Event Progress</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="myRowCentered" style="padding-top: 17.5em;">
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/About3.png"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row class="myRowCentered" style="padding-top: 1em;">
          <ion-col size-lg=8 push-lg=0>
            <ion-text>
              Let's Meet was born when we (two college students ) realized that when organizing events or meetings,  there are times when the chosen date isn't the one in which most people can attend but the option that most prefer (which don't always go hand in hand). Let's Meet makes it easy and quick  for you to organize events and meetings; it finds the date and time that best suit the availability and preference of the participants.
            </ion-text>
            <br><br>
            <ion-text>
              We want the organization of events to be much faster and user-friendly. Participants can vote without having to make a formal and time-consuming registration, which makes more people willing to participate. This is why we try to make its use as intuitive as possible, however, if you have any questions you can go to the Help section to find specific information.
            </ion-text>
            <br><br>
            <ion-text>
              Thank you for letting us be part of your event !
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="myRowCentered" style="padding-top: 5em;">
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/Download.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered">
          <ion-col size-lg=2>
            <ion-card class="myCard">
              <ion-button class="downloadBtn" expand="block" fill="solid">iOS</ion-button><br><br>
              <ion-button class="downloadBtn" expand="block" fill="solid">Android</ion-button><br><br>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="myRowCentered" style="padding-top: 5em;">
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/Help.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered">
          <ion-col size-lg=6>
            <ion-card class="myCard">
              <ion-button class="helpBtn" expand="block" fill="clear">I'm the organizer!</ion-button><br><br>
              <ion-button class="helpBtn" expand="block" fill="clear">I'm just voting!</ion-button><br><br>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text class="myTitle">I'm the organizer</ion-text>
            <br><br>
            <ion-text>If you are in charge of creating the event so everyone else can go vote, make sure you click on the Create New Event button.</ion-text><br><br>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered">
          <ion-col size-lg=3>
            <ion-button expand="block" fill="solid" [routerLink]="['/create-event']">Create New Event</ion-button><br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>Create a name and password...   </ion-text>
            <ion-text class="greenFont">IMPORTANT: make sure you remember them because, as we do not ask for your email, we won't be able to recover those for you.</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=6>
            <ion-img src="../../assets/img/form.png"></ion-img>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>Select the dates for participants to vote from:</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=auto>
            <ion-img src="../../assets/img/dates.png"></ion-img>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>If you want to, specify a time for the event</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=auto>
            <ion-img src="../../assets/img/timezone.png"></ion-img>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>Share the event with the participants! The easiest way is by just copying the provided link and sending it to your friends. However, you can also copy the Event ID so they can type it in Join Existing Event.</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=6>
            <ion-img src="../../assets/img/share.png"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text class="myTitle">I'm just voting</ion-text>
            <br><br>
            <ion-text>There are to ways for you to start voting: you can just use the link the organizer will send to you or you can click the Join Event button and enter the Event ID.</ion-text><br><br>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered">
          <ion-col size-lg=3>
            <ion-button expand="block" fill="solid" [routerLink]="['/join-event']">Join Existing Event</ion-button><br><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>Either way you will be displayed the event's information and a field where you can write your name if you choose to.</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=3>
            <ion-img src="../../assets/img/info.png"></ion-img><br>
            <ion-img src="../../assets/img/name.png"></ion-img>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
          <ion-col size-lg=10 push-lg=1>
            <ion-text>Choose the dates that are most convenient for you.</ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=3>
            <ion-img src="../../assets/img/voting.png"></ion-img><br>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=auto>
            <ion-img src="../../assets/img/Contact.png"></ion-img><br>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=6>
            <ion-text>Reach us! If you have any problem, doubt or anything you want to talk to us about just send an email to </ion-text>
          </ion-col>
        </ion-row>
        <br><br>
        <ion-row class="myRowCentered">
          <ion-col size-lg=3>
            <ion-text class="greenFont">contact@letsmeet.com</ion-text>
          </ion-col>
        </ion-row>
        <br><br>

      </ion-grid>
    </ion-content>
</div>
