<ion-menu contentId="mainContent">
  <ion-header class="ion-no-border">
    <ion-toolbar class="padding-top">
      <ion-img class="logoLg" src="../../assets/img/logoheader2.png"></ion-img>
      <div class="myMenu">
        <ion-item lines="none">
          <ion-text class="greenFont">About</ion-text><br>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="blackFont">Help</ion-text><br>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="greenFont">Contact</ion-text>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-header>

  <div>
    <p>About <br> Help <br> Contact </p>
  </div>

</ion-menu>


<div class="ion-page" id="mainContent" main>
  <div id="hamburger_menu">
    <ion-header class="ion-no-border">
      <ion-toolbar class="myHeader">
        <ion-img class="logo" src="../../assets/img/logo4.png" slot="end" (click)="mainpage()"></ion-img>
        <ion-buttons>
          <ion-menu-button class="menu_btn"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
    <div id="about">
      <ion-header class="ion-no-border">
        <ion-toolbar class="myHeader">
          <ion-img class="logo" src="../../assets/img/logo4.png" slot="start" (click)="mainpage()"></ion-img>

          <div class="rightAlignment">
            <a class="paddingLinks"> About</a>
            <a class="paddingLinks">|</a>
            <a class="paddingLinks">Help</a>
            <a class="paddingLinks">|</a>
            <a class="paddingLinks">Contact</a>
          </div>

        </ion-toolbar>
      </ion-header>
    </div>

    <ion-content [fullscreen]="true">
      <ion-grid>
        <ion-row>
          <ion-col size-lg=4 push-lg=4>
            <ion-card class="myCard">
              <ion-button expand="block" fill="solid" [routerLink]="['/create-event']">Create New Event</ion-button><br><br>
              <ion-button expand="block" fill="solid" [routerLink]="['/join-event']">Join Existing Event</ion-button><br><br>
              <ion-button expand="block" fill="solid" >Existing Event Progress</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered" style="padding-top: 11em;"> 
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/About3.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered" style="padding-top: 1em;">
          <ion-col size-lg=8 push-lg=0>
            <ion-text>
              Let's Meet was born when we (two college students ) realized that when organizing events or meetings,  there are times when the chosen date isn't the one in which most people can attend but the option that most prefer (which don't always go hand in hand). Let's Meet makes it easy and quick  for you to organize events and meetings; it finds the date and time that best suit the availability and preference of the participants.
            </ion-text>
            <br><br>
            <ion-text>
              We want the organization of events to be much faster and user-friendly. Participants can vote without having to make a formal and time-consuming registration, which makes more people willing to participate. This is why we try to make its use as intuitive as possible, however, if you have any questions you can go to the Help section to find specific information.
            </ion-text>
            <br><br>
            <ion-text>
              Thank you for letting us be part of your event !
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered" style="padding-top: 5em;"> 
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/Download.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="myRowCentered" style="padding-top: 5em;"> 
          <ion-col size-lg=auto push-lg=0>
            <ion-img src="../../assets/img/Help.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
</div>
