ion-button {
  font-family: Asap-Bold !important;
  font-size: 1.5em;
  text-transform: none;
  min-height: 3em;
  width: auto;
  border-radius: 0.6em;
  box-shadow: 0em 0em 0.15em 0.01em gray;
  --background: var(--ion-color-letsmeet);
  --border-radius: 0.6em !important;
}

ion-text{
  font-family: Now-Light;
  font-size: 1.3em;
}

.myCard{
  padding-top: 80px;
  box-shadow: none;
}

.myHeader{
  padding-top: 30px;
  padding-left: 30px;
}

.myButton{
  padding: 10px;
}

.greenFont{
  color: var(--ion-color-letsmeet);
  font-family: Now-Medium;
  font-size: 1.3em;
}

.downloadBtn{
  font-family: Asap-Bold !important;
  font-size: 2em;
  color: var(--ion-color-letsmeet);
  text-transform: none;
  min-height: 2.3em;
  width: auto;
  border-radius: 0.6em;
  box-shadow: 0em 0em 0.15em 0.01em var(--ion-color-letsmeet);
  --background: none;
  --border-radius: 0.6em !important;
}

.helpBtn{
  font-family: Asap-Bold !important;
  font-size: 2em;
  color: var(--ion-color-letsmeet);
  text-transform: none;
  min-height: 2.3em;
  width: auto;
  --background: none;
  box-shadow: none !important;
  --background-hover: var(--ion-color-letsmeet);
  --background-hover-opacity: 0.15; 
}

.myTitle{
  font-family: Now-Medium;
  color: var(--ion-color-letsmeet);
  font-size: 2em;
}

.myRowCentered {
  display: flex ;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.paddingLinks {
  font-family: SourceSansPro-Light !important;
  text-transform: none;
  padding-right: 8%;
  font-size: 1.2em;
  color: gray;
}

.rightAlignment {
  display: flex;
  justify-content: flex-end
}

// Computer - iPad
@media only screen and (min-width: 750px) {
  #hamburger_menu {
    visibility: hidden;
    display: none;
  }

  .logo {
    width: 20%;
    height: auto;
  }
}

// Mobile
@media only screen and (max-width: 749px) {
  #about {
    visibility: hidden;
    display: none;
  }

  .logo {
    width: 45%;
    height: auto;
  }

  .logoLg {
    width: 80%;
    height: auto;
    align-content: center;
    padding-left: 1em;
  }

  .menu_btn {
    font-size: 100px;
    padding-left: 0px !important;
  }

  .padding-top{
    padding-top: 2em;
  }

  .myMenu{
    padding-top: 3.5em;
    font-family: Now-Medium;
  }

  .greenFont{
    color: var(--ion-color-letsmeet);
    font-size: 3em;
    font-family: Now-Bold;
  }

  .blackFont{
    font-size: 3em;
    font-family: Now-Bold;
  }

  ion-item{
    padding-bottom: 2em;
  }
}
